* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    
  }
  .nombre {
    font-size: 40px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    border: 0
    
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: #FFF;
    justify-content: space-between;
}

img {
    color: #FFF;
    width: 62px;
    height: 42px;
   
}

nav ul {
    display:inline-flex;
    flex-direction: row;
}

nav ul li {
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li a {
    color:#FFF;
    display: block;
    padding: 10px 20px;
    border-radius: 1px;
}


.cta {
    color: black;
}

.cta:hover {
    background-color: rgb(94, 94, 94);
    color: #FFF;
}

#id {
    display: none;
}
/* 



*/

li {
    display: block;
    position: relative;
    float: left;
  }
  
  li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
  }
  
  li:hover ul {
    display: block;
  }
/* 





*/
.divBody {
	padding: 30px;
	margin-bottom: 10%;
    margin-top: 10%;
    position:flex;
    height: 100%;
    
}
.divBody h2 {
	font-size: 40px;
	margin-top: 1;
    color:#FFF ;
    margin-right: 50%;
    width: 100%;
    margin-bottom: 10px;
    
}
.divBody p {
	font-size: 30px;
	line-height: 1;
    color: hwb(0 73% 25%);
    margin-right: 50%;
    display: flex;
    vertical-align: middle;
    text-align: justify;
    width: 100%;

}
/* 



*/
.divBody1 {
	padding: 30px;
	margin-bottom: 10%;
    margin-top: 1%;
    position:flex;
}
.divBody1 h2 {
	font-size: 40px;
	margin-top: 1;
    color:hwb(0 73% 25%);
    margin-right: 50%;
}
.divBody1 p {
	font-size: 30px;
	line-height: 1;
    color: #FFF;
    margin-right: 50%;
    margin-left: 10%;
    width: 55%;
}
.divBody1 img {
    height: 200px;
    width: 200px;
    object-fit: cover; 
    border-radius: 50%;
    display: inline-flex;
    float:right;
    margin-right: 10%;
}
/* 



*/
.divBody2 {
	padding: 30px;
	margin-bottom: 10%;
    margin-top: 10%;
    position:flex;
}
.divBody2 h2 {
	font-size: 40px;
	margin-top: 1;
    color: hwb(0 73% 25%);
    margin-left: 40%;
}
.divBody2 p {
	font-size: 30px;
	line-height: 1;
    color:#FFF;
    margin-left: 50%;
    margin-right: 10%;
    text-align: justify;
    width: 45%;
}
.divBody2 img {
    height: 200px;
    width: 200px;
    object-fit: cover; 
    border-radius: 50%;
    display: inline-flex;
    float:left;
    margin-left: 10%;
}
/* 



*/
.divBody3 {
	padding: 30px;
	margin-bottom: 10%;
    margin-top: 10%;
    position:flex;
    margin-bottom: 10%;
}
.divBody3 h2 {
	font-size: 40px;
	margin-top: 1;
    color: hwb(0 73% 25%);
    margin-right: 50%;
}
.divBody3 p {
	font-size: 30px;
	line-height: 1;
    color: #FFF;
    margin-right: 50%;
    margin-left: 10%;
    width: 55%;

}
.divBody3 img {
    height: 200px;
    width: 200px;
    object-fit: cover; 
    border-radius: 50%;
    display: inline-flex;
    float:right;
    margin-right: 10%;
}
/* 




*/
footer {
    background-color:#FFF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;


  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
  }
  .buttons-container img{
    color: #FFF;
    width: 62px;
    height: 42px;
  }
  .ct{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
  }
  .ct {
    color: black;
}

.ct:hover {
    background-color: rgb(94, 94, 94);
    color: #FFF;
}

 
  

  


